<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleRegister.css">
</head>

<body>
    <div class="container">
        <div class="main-body">
            <form method="post">
                <h3>Create new account</h3>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" value="<%= fullname %>" class="form-control" name="fullname" placeholder="Username">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-envelope"></span>
                    <input type="text" value="<%= email %>" class="form-control" name="email" placeholder="Mail">
                </div>
                <button type="submit" class="btn-register">
                    <span>Register</span>
                </button>
                <% if ((locals.errorMessage)) { %>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= errorMessage %>
                        
                    </div>
                 <% } %>
                 <% if ((locals.success)) { %>
                    <div class="alert alert-success">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= success %>
                    </div>
                 <% } %>
                <!-- <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    This is an alert box.
                  </div> -->
            </form>
            
        </div>
    </div>
    <script>
        if($('.alert')){
            setTimeout(function() {
                $(".alert").fadeOut();
            }, 2000); 
        }
    </script>
</body>

</html>